{% extends "base.html" %}

{% block content %}
<h3 xmlns="http://www.w3.org/1999/html" xmlns:http="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">Artists</h3>
<div class="row">
	<div class="col-6 align-left">
		<form class="form-inline" >
				{% csrf_token %}
				<input id="user-input" name="name" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
				<input type="button"  onclick="ageindays()" class="btn btn-primary" value="SEARCH">
			</form>
	</div>

	<div id="replaceable-content" class="col-6">
		{% include 'artists-results-partial.html' %}
	</div>
</div>
{% endblock %}